.btn-hire-me{
    background: rgba(0, 255, 255, 0.9);
    color: #000 !important;
}

.text-general{
    color: #999999;
    font-weight: inherit;
}
.profile-badge--width-330{
    width: 100% !important;
}
.services-1:hover .desc p, .services-1:hover h3{
    color: #FFFFFF;
}

.btn-hire-me{
    margin-top: 20px;
    border: 0.5px solid #000 !important;
}

.badge-primary {
    padding: 10px;
    margin: 5px;
}
.page.four {
    margin-bottom: 7em;
}
.page.five {
    margin-bottom: 0;
}
.services-1{
    text-decoration: none !important;
}
